<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 缓存 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 驼峰式命名 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />

		<!-- 打印查询语句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>		
</configuration>
